* {
    box-sizing: border-box;
}

.card-info {
    /* border-radius: 16px; */
    background-color: hsl(235, 46%, 20%);
    border-radius: 16px;
    width: 100%;
    padding: 24px;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card-info:hover {
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
}

.title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.title {
    color: white;
    margin: 0px;
    font-weight: 500;
}

.current-time {
    color: white;
    margin: 0px;
    font-weight: 300;

}

.previous-time {
    color: hsl(236, 100%, 87%);
    margin: 0px;
    font-weight: 400;
}

@media screen and (min-width: 0px) {
    .card-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .current-time {
        font-size: 24px;
    }
    .title {
        font-size: 14px;
    }
}

@media screen and (min-width: 350px) {
    .current-time {
        font-size: 32px;
    }
}

@media screen and (min-width: 750px) {
    .title {
        font-size: 18px;
    }
    
    .current-time {
        font-size: 48px;
    }
    
    .previous-time {
        color: hsl(236, 100%, 87%);
        padding-top: 16px 0;
    }
    .card-time {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 18px;
    }
    
    .current-time {
        font-size: 60px;
        padding: 16px 0;
    }
    
    .previous-time {
        color: hsl(236, 100%, 87%);
        padding-top: 16px 0;
    }
}
