.App {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0px;
    margin: 5% 2rem;
}


@media screen and (min-width: 750px) {
    .App{
        margin: 5% 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .App{
        grid-template-columns: 1fr 3fr;
        column-gap: 24px;
        row-gap: 0px;
        margin: 5% 8%;
    }
}
